@model IEnumerable<TP03MainProj.Models.Events>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}


<!--
<p>
    Html.ActionLink("Create New", "Create")
</p>
    -->
<div id="culture" data-culture="@ViewBag.Culture" style="display: none;"></div>
<div id="calendar">
</div>
<div id="events-list"></div>



    <div class="container" style="background-size: cover; background-repeat: no-repeat;">
        <div class="row align-items-center gx-5" style="background-size: cover; background-repeat: no-repeat;">

            <div class="col-lg-6 mb-sm-20" style="background-size: cover; background-repeat: no-repeat;">
                <div id="culture" data-culture="@ViewBag.Culture" style="display: none;"></div>
                <div id="calendar"></div>
                <div id="events-list"></div>
            </div>

        </div>
    </div>
@section Scripts {
    <!-- Global Variables for passing data to custom calender script -->
    <script>
        var getCulturalDatesUrl = '@Url.Action("GetCulturalDates", "Events")';
        var getEventsFromEventbriteUrl = '@Url.Action("GetEventsFromEventbrite", "Events")';
    </script>
    @Scripts.Render("~/bundles/fullcalendar")



    <style>


        #calendar {
            width:50%;
            height:50%;
            margin: 0 auto;
            margin-top:5%;
        }
    </style>
}
