﻿@model IEnumerable<TP03MainProj.Models.Events>

@{
    ViewBag.Title = "Events Calendar";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}


<!--
<p>
    Html.ActionLink("Create New", "Create")
</p>
    -->


<section>
    <div class="container">
        <!--calendar-->
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 col-md-10 text-center">
                @{
                    var cultureColour = "";
                    switch (ViewBag.Culture as string)
                    {
                        case "Japanese":
                            cultureColour = "text-warning";
                            break;
                        case "Chinese":
                            cultureColour = "text-danger";
                            break;
                        case "Korean":
                            cultureColour = "text-primary";
                            break;
                        case "Filipino":
                            cultureColour = "text-info";
                            break;
                        case "Vietnamese":
                            cultureColour = "text-success";
                            break;
                        default:
                            cultureColour = "black"; // Default colour
                            break;
                    }
                }

                <h2>Explore <span class="@cultureColour">@ViewBag.Culture</span> Events!</h2>
                <div id="culture" data-culture="@ViewBag.Culture" style="display: none;"></div>
                <div id="calendar" class="mx-auto"></div>
                <h6 style="background-color:powderblue;"><i>Click around the Calender to find Events for the Festivals above...</i></h6>
            </div>
        </div>
        <!--events list-->
        <div class="row justify-content-center align-items-center mt-3">
            <div class="col-lg-8 col-md-10 text-center">
                <div id="events-list"></div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <!-- Global Variables for passing data to custom calender script -->
    <script>
        var getCulturalDatesUrl = '@Url.Action("GetCulturalDates", "Events")';
        var getEventsFromEventbriteUrl = '@Url.Action("GetEventsFromEventbrite", "Events")';
    </script>
    @Scripts.Render("~/bundles/fullcalendar")



    <style>


        #calendar {
            width: 150%;
            max-width: 900px;
            margin: 0 auto;
            margin-top: 5%;
        }

        .event-detail {
            margin-bottom: 20px;
            padding: 10px;
            border: 3px solid @cultureColour;
            border-radius: 5px;
        }

            .event-detail h3 {
                margin-top: 0;
            }

        .fc-day:hover {
            background-color: #eee;
            cursor: pointer;
        }

        .highlighted {
            background-color: #ff0;
            border: 2px solid #f00;
        }
    </style>
}