﻿@model IEnumerable<TP03MainProj.Models.Events>

@{
    ViewBag.Title = "Events Calendar";

}




<section>
    <div class="container-fluid">
        <div class="row justify-content-center text-center section-row">
            <div class="col">
                @{
                    var cultureColour = "";
                    switch (ViewBag.Culture as string)
                    {
                        case "Japanese":
                            cultureColour = "text-warning";
                            break;
                        case "Chinese":
                            cultureColour = "text-danger";
                            break;
                        case "Korean":
                            cultureColour = "text-primary";
                            break;
                        case "Filipino":
                            cultureColour = "text-info";
                            break;
                        case "Vietnamese":
                            cultureColour = "text-success";
                            break;
                        default:
                            cultureColour = "black"; // Default colour
                            break;
                    }
                }

                <h2>Explore <span class="@cultureColour">@ViewBag.Culture</span> Events!</h2>
                <div id="culture" data-culture="@ViewBag.Culture" style="display: none;"></div>
            </div>

        </div>
        <div class="row row-cols-3 justify-content-center m-auto section-row bg-grey border-2  border-bottom" id="button-section">
            <div class="col "></div>
            <div class="col text-center">
                <a class="btn culture-btn btn-primary  w-25" href="">Events</a>
                <a class="btn culture-btn btn-primary w-25" href="">Quiz</a>
                <a class="btn culture-btn btn-primary w-25" href="">Attraction</a>
            </div>
            <div class="col"></div>
        </div>


        <div class="row justify-content-center section-row">
            <div class="col-4">

                <div id="calendar" class="mx-auto"></div>

            </div>
            <div class="col-4">
                <div class="row text-center">
                    <h6 style="background-color:powderblue;"><i>Click around the Calender to find Events for the Festivals above...</i></h6>
                </div>
                <div class="row">
                    <div id="events-list"></div>

                </div>

            </div>


        </div>
        <!-- quiz-->
        <div class="row justify-content-center m-auto section-row bg-warning">
            <div class="row mb-3">
                <h1>Quiz</h1>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div class="row mb-lg-5">
                        @Html.Partial("~/Views/Events/QuizTemplate.cshtml")


                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <!-- quiz-->


        <div class="row section-row">

        </div>
    </div>

</section>



@section Scripts {
    <!-- Global Variables for passing data to custom calender script -->
    <script>
        var getCulturalDatesUrl = '@Url.Action("GetCulturalDates", "Events")';
        var getEventsFromEventbriteUrl = '@Url.Action("GetEventsFromEventbrite", "Events")';
    </script>
    @Scripts.Render("~/bundles/fullcalendar")

    <!-- Modified the width of the calender to see if it fits -->

    <style>
        .section-row {
            margin:2%;
            padding:1%;
        }

        .event-detail {
            margin-bottom: 20px;
            padding: 10px;
            border: 3px solid @cultureColour;
            border-radius: 5px;
        }

            .event-detail h3 {
                margin-top: 0;
            }

        .fc-day:hover {
            background-color: #eee;
            cursor: pointer;
        }

        .highlighted {
            background-color: #ff0;
            border: 2px solid #f00;
        }

        .culture-btn {
            height: 40px;
        }



    </style>
}