﻿@model IEnumerable<TP03MainProj.Models.Events>

@{
    ViewBag.Title = "Events Calendar";

}




<section>
    <div class="container-fluid">
        <div class="row justify-content-center text-center section-row m-4 ">
            <div class="col">
                @{
                    var cultureColour = "";
                    switch (ViewBag.Culture as string)
                    {
                        case "Japanese":
                            cultureColour = "text-warning";
                            break;
                        case "Chinese":
                            cultureColour = "text-danger";
                            break;
                        case "Korean":
                            cultureColour = "text-primary";
                            break;
                        case "Filipino":
                            cultureColour = "text-info";
                            break;
                        case "Vietnamese":
                            cultureColour = "text-success";
                            break;
                        default:
                            cultureColour = "black"; // Default colour
                            break;
                    }
                }

                <h2>Explore <span class="@cultureColour">@ViewBag.Culture</span> Events!</h2>
                <div id="culture" data-culture="@ViewBag.Culture" style="display: none;"></div>
            </div>

        </div>
        <div class="row row-cols-3 justify-content-center m-auto section-row bg-grey border-2 p-2 mt-2 mb-3  border-bottom" id="button-section">
            <div class="col "></div>
            <div class="col text-center">
                <a class="btn culture-btn btn-primary text-nowrap w-25" href="@Url.Action("Index", "Events")#events-nav">Events</a>
                <a class="btn culture-btn btn-primary fs-6 w-25" href="@Url.Action("Index", "Events")#quiz-nav">Quiz</a>
                <a class="btn culture-btn btn-primary fs-6 w-25" href="@Url.Action("Index", "Events")#attract-nav">Attraction</a>
            </div>
            <div class="col"></div>
        </div>

        <div id="events-nav">
            <br />
            <br />
            <br />
        </div>

        <div class="row justify-content-center section-row mt-5" id="events">
            <div class="col-4">

                <div id="calendar" class="mx-auto"></div>

            </div>
            <div class="col-4">
                <div class="row text-center">
                    <h6 style="background-color:powderblue;"><i>Click around the Calender to find Events for the Festivals above...</i></h6>
                </div>
                <div class="row">
                    <div id="events-list"></div>

                </div>

            </div>


        </div>
        <!-- quiz-->
        <div id="quiz-nav">
            <br />
            <br />
        </div>
        <!-- Please add and adjust the CSS according to page (but please keep the messages same as the ones below)-->
        <!-- Put all this into class="container-fluid" of the division for responsive layout -->
        <div class="row justify-content-center section-row bg-warning pt-5 mt-5" id="quiz-section">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="row mb-3">
                    <h2 style="word-spacing: 8px;">Common Phrases and Cultural Etiquette Quiz</h2>
                </div>
                <div class="row justify-content-center pb-5 pt-5 ">
                    <h4 id="startMessage">"Want to learn about this culture in depth? Try this quiz!"</h4>
                    <button id="loadQuiz" class="btn btn-primary text-white culture-btn w-25">Learn About @ViewBag.Culture</button>
                </div>
                <div id="quizContent" style="display: none;">
                    <div id="quizImage" class="quiz-image" style="margin-bottom: 20px;">
                        <img src="" id="currentImage" alt="Cultural Image" style="width: 100%; height: auto; border: 2px solid #ccc;">
                    </div>
                    <div id="quizQuestions" class="quiz-questions">
                        <h3 id="quizQuestion"></h3>
                        <ul id="quizOptions" class="quiz-options" style="list-style: none; padding: 0;"></ul>
                    </div>
                    <button id="restartQuiz" class="btn btn-info" style="margin-top: 20px; display: none;">Restart Quiz</button>
                </div>
                <div id="highScoreDisplay" style="display: none; font-size: 24px; color: green; padding: 10px; border: 1px solid #ccc; text-align: center;">
                    High Score: <span id="highScoreValue">0</span>
                </div>
            </div>
        </div>
        <!-- Attractions -->
        <div id="attract-nav">
            <br />
            <br />
        </div>
        <div id="attract-section"></div>
    </div>

</section>



@section Scripts {
    <!-- Global Variables for passing data to custom calender script -->
    <script>
        var getCulturalDatesUrl = '@Url.Action("GetCulturalDates", "Events")';
        var getEventsFromEventbriteUrl = '@Url.Action("GetEventsFromEventbrite", "Events")';
    </script>
    
    <!-- Convert cultureName to lowercase to standardize -->
    <script type="text/javascript">
    var cultureFromViewBag = '@ViewBag.Culture'.toLowerCase(); 
    </script>

    @Scripts.Render("~/bundles/fullcalendar")
    <script src="~/Scripts/quizLoader.js"></script>

    <!-- Modified the width of the calender to see if it fits -->
    <!-- Add CSS for the quiz section -->

    <style>

        #quizFrame {
            height: 1000px;
        }

        .culture-btn {
            min-height: 40px;
            height: 40px;
        }
        .event-detail {
            margin-bottom: 20px;
            padding: 10px;
            border: 3px solid @cultureColour;
            border-radius: 5px;
        }

            .event-detail h3 {
                margin-top: 0;
            }

        .fc-day:hover {
            background-color: #eee;
            cursor: pointer;
        }

        .highlighted {
            background-color: #ff0;
            border: 2px solid #f00;
        }

        .correct-answer {
            background-color: green;
            color: white;
        }

        .wrong-answer {
            background-color: red;
            color: white;
        }
    </style>
}