﻿@model IEnumerable<TP03MainProj.Models.Events>

@{
    ViewBag.Title = "Events Calendar";

}




<section>
    <div class="container-fluid bg-white">
        <div class="row justify-content-center text-center section-row m-4">
            <div class="col-12 col-md-8 col-lg-6 mt-3">
                @{
                    var cultureColour = "";
                    switch (ViewBag.Culture as string)
                    {
                        case "Japanese":
                            cultureColour = "text-warning";
                            break;
                        case "Chinese":
                            cultureColour = "text-danger";
                            break;
                        case "Korean":
                            cultureColour = "text-primary";
                            break;
                        case "Filipino":
                            cultureColour = "text-info";
                            break;
                        case "Vietnamese":
                            cultureColour = "text-success";
                            break;
                        default:
                            cultureColour = "black"; // Default colour
                            break;
                    }
                }
                <div class="display-3 fw-bold">Explore <span class="@cultureColour">@ViewBag.Culture</span> Events!</div>
                <div id="culture" data-culture="@ViewBag.Culture" style="display: none;"></div>
            </div>
        </div>
        <div class="row row-cols-3 justify-content-center m-auto section-row shadow p-2 bg-body rounded mt-2 mb-3  border-bottom" id="button-section">
            <div class="col text-center">
                <a class="btn culture-btn btn-primary mb-2 text-nowrap " href="#events-nav">Events</a>
                <a class="btn culture-btn btn-primary mb-2 fs-6 " href="#quiz-section">Quiz</a>
                <a class="btn culture-btn btn-primary mb-2 fs-6 " href="#attract-section">Attraction</a>
            </div>

        </div>

        <div id="events-nav">

        </div>

        <div class="row justify-content-center section-row mt-5" id="events">
            <!-- Responsive Calendar Column -->
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <div id="calendar" class="mx-auto"></div>
            </div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                <div class="row text-center w-100 h-auto">
                    <h6 style="background-color:powderblue;"><i>Click around the Calendar to find Events for the Festivals above...</i></h6>
                </div>
                <div class="row">
                    <div id="events-list"></div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center section-row bg-warning pt-5 mt-5" id="quiz-section">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="row mb-3">
                    <h2 style="word-spacing: 2px;" class="fw-bold display-3">Common Phrases and Cultural Etiquette Quiz</h2>
                    <h4 id="startMessage">"Want to learn about this culture in depth? Try this quiz!"</h4>

                </div>

                <div class="row justify-content-center pb-5 pt-5 ">
                    <button id="loadQuiz" class="btn btn-primary text-white culture-btn w-auto px-2 px-sm-3 px-md-4">
                        <span class="d-block d-sm-inline text-nowrap small-text">Learn About @ViewBag.Culture</span>
                    </button>
                    <!-- Score display area, initially hidden -->
                    <div id="scoreDisplay" class="mt-3 mb-3" style="display: none;">
                        <h3>Your Score: <span id="finalScore">0</span></h3>
                    </div>

                    <button id="restartQuiz" class="btn btn-primary text-white culture-btn w-25" style="display: none;">Restart</button>
                </div>


                @*<div id="quizQuestions"></div>*@
                <div id="quizQuestions" class="w-100 ">

                </div>
                <button id="prevQuestion" class="btn btn-primary text-white culture-btn w-25 px-2 px-sm-3 px-md-4" style="display: none;">Previous</button>
                <button id="nextQuestion" class="btn btn-primary text-white culture-btn w-25 px-2 px-sm-3 px-md-4" style="display: none;">Next</button>
            </div>
        </div>




        <div class="row h-100 mt-3 mb-3 p-3" id="attract-section">
            <div class="container">
                <!-- Section Title -->
                <div class="row text-center mb-3">
                    <div class="col">
                        <h1 class="display-2 fw-bold">Attraction</h1>
                    </div>
                </div>

                <!-- Content Rows for Monuments and Restaurants -->
                @{
                    switch (ViewBag.Culture as string)
                    {
                        case "Japanese":
                            @Html.Partial("~/Views/Events/Attractions/Japanese.cshtml")
                            break;
                        case "Chinese":
                            @Html.Partial("~/Views/Events/Attractions/Chinese.cshtml")
                            break;
                        case "Korean":
                            @Html.Partial("~/Views/Events/Attractions/Korean.cshtml")
                            break;
                        case "Filipino":
                            @Html.Partial("~/Views/Events/Attractions/Filipino.cshtml")
                            break;
                        case "Vietnamese":
                            @Html.Partial("~/Views/Events/Attractions/Vietnamese.cshtml")
                            break;
                        default:
                            cultureColour = "black"; // Default colour
                            break;
                    }
                }

            </div>
        </div>



    </div>

</section>



@section Scripts {
    <!-- Global Variables for passing data to custom calender script -->
    <script>
        var getCulturalDatesUrl = '@Url.Action("GetCulturalDates", "Events")';
        var getEventsFromEventbriteUrl = '@Url.Action("GetEventsFromEventbrite", "Events")';
    </script>

    <!-- Convert cultureName to lowercase to standardize -->
    <script type="text/javascript">
    var cultureFromViewBag = '@ViewBag.Culture'.toLowerCase();
    </script>

    @Scripts.Render("~/bundles/fullcalendar")
    <script src="~/Scripts/quizLoader.js"></script>





    <!-- Modified the width of the calender to see if it fits -->
    <!-- Add CSS for the quiz section -->

    <style>
        #quizQuestions .option-text {
            overflow-wrap: break-word;
            hyphens: auto;
        }


        .form-check-label {
            margin-left: 5px;
        }
        .submit-button {
            width:140px;
            height:60px;
        }
        /* General card styling for each question */
        .quiz-img {
            width: 100%;
            height: auto;
        }
        .question.card {
            margin-bottom: 1rem;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: box-shadow 0.3s ease-in-out;
        }

            .question.card:hover {
                box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            }

        /* Header of each question */
        .card-header {
            background-color: #007bff; /* Primary color */
            color: white;
            font-size: 1.25rem;
        }

        /* Image styling */
        .card-img-top {
            width: 20%; /* Ensures the image takes up the entire card width */
            height: auto; /* Maintain aspect ratio */
            border-bottom: 1px solid #dee2e6; /* A subtle border under the image */
        }

        /* Styling for the body of the card where options are located */
        .card-body {
            padding: 1rem;
        }

        /* List group item styling - clickable options */
        .list-group-item {
            display: flex; /* Makes the label a flex container */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
            height: 50px; /* Fixed height as specified */
            width: auto; /* Width adjusts to content or container */
            white-space: normal;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        .small-text {
            font-size: calc(100% - 1px); /* 动态调整字体大小以适应容器宽度 */
            line-height: 1.2; /* 调整行高以提高可读性 */
        }

        .list-group-item-action:hover {
            background-color: #007bff;
            color:white;/* Light grey on hover for feedback */
        }

        /* Success and danger styles for correct/incorrect answers */
        .list-group-item-success {
            background-color: #28a745; /* Bootstrap success green */
            color: white;
        }

        .list-group-item-danger {
            background-color: #dc3545; /* Bootstrap danger red */
            color: white;
        }

        /* Button styling for invisible radio buttons */
        .btn-check:checked + .btn-secondary {
            background-color: #007bff; /* Match the primary color when selected */
            color: white;
        }

        /* Navigation buttons styling */
        .btn-primary {
            background-color: #007bff; /* Primary blue */
            border-color: #007bff;
            color: white;
        }

            .btn-primary:hover {
                background-color: #0056b3; /* Darker blue on hover */
                border-color: #0056b3;
            }


        #prevQuestion, #nextQuestion {
            margin: 10px;
            padding: 5px 20px;
            font-size: 16px;
        }

        #quizFrame {
            height: 1000px;
        }

        .culture-btn {
            min-height: 40px;
            height: 40px;
        }
        .event-detail {
            margin-bottom: 20px;
            padding: 10px;
            border: 3px solid @cultureColour;
            border-radius: 5px;
        }

            .event-detail h3 {
                margin-top: 0;
            }

        .fc-day:hover {
            background-color: #eee;
            cursor: pointer;
        }

        .highlighted {
            background-color: #ff0;
            border: 2px solid #f00;
        }

        .correct-answer {
            background-color: green;
            color: white;
        }

        .wrong-answer {
            background-color: red;
            color: white;
        }
    </style>
}