<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CultMelbourne</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/bundles/customerFontsAndStyles")*@

    <link rel="icon" href="@Url.Content("~/Content/Customer/images/logo-mobile.png")" type="image/gif" sizes="16x16">

    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link href="@Url.Content("~/Content/Customer/fonts/fontawesome4/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Customer/fonts/fontawesome6/css/fontawesome.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Customer/fonts/fontawesome6/css/brands.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Customer/fonts/fontawesome6/css/solid.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Customer/fonts/elegant_font/HTML_CSS/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Customer/fonts/et-line-font/style.css")" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <!-- page preloader begin -->
        <div id="de-loader"></div>
        <!-- page preloader close -->
        <!-- header begin -->
        <header class="header-full transparent bg-warning">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-2">
                                <div class="">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="@Url.Action("Index", "Home")">
                                            <img class="logo-main" src="@Url.Content("~/Content/Customer/images/logo.png")" alt="">
                                            <img class="logo-mobile" src="@Url.Content("~/Content/Customer/images/logo-mobile.png")" alt="">
                                        </a>

                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="col-2 text-center justify-content-center align-content-center ">
                                <div class="mainmenu">
                                    <h4 class="tagline text-white menu-item pt-2 pb-2 mt-2 mb-2" style="font-style: italic; text-decoration: underline;">
                                        Melbourne's Gateway to East Asian Wonders
                                    </h4>
                                </div>
                            </div>

                            <div class="col-8">
                                @using TP03MainProj.Helper
                                <ul id="mainmenu" class="nav ps-5 ms-5 m-1 p-1">
                                    <li class="nav-item">
                                        <a class="nav-link @NavigationHelper.IsActive(ViewContext, "Home", "Index")" href="@Url.Action("Index", "Home")">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <!-- Use the helper to check if either the main Education page or one of its sub-pages is active -->
                                        <a class="nav-link @NavigationHelper.IsActive(ViewContext, "Education", "Index", "Education", "DiverseCultures")" href="@Url.Action("Index", "Education")">Culture Education</a>
                                        <ul>
                                            <li>
                                                <a class="nav-link @NavigationHelper.IsActive(ViewContext, "Education", "DiverseCultures")" href="@Url.Action("DiverseCultures", "Education")">Diverse Cultures</a>
                                            </li>
                                            <li>
                                                <a class="nav-link @NavigationHelper.IsActive(ViewContext, "Education", "MigrationStories")" href="@Url.Action("MigrationStories", "Education")">Migration Stories</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @NavigationHelper.IsActive(ViewContext, "Home", "CulturalEvents")" href="@Url.Action("Index", "Home")#cultural-events">Culture Events</a>
                                    </li>
                                </ul>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            @RenderBody()

        </div>
        <!-- content close -->
        <!-- footer begin -->
        <footer class="bg-warning">
            <div class="container ">
                <div class="row gx-5">
                    <div class="col-lg-4 col-sm-6">
                        <img class="logo-footer" src="@Url.Content("~/Content/Customer/images/logo.png")" alt="">
                        <div class="spacer-20"></div>
                        <p>Committed to celebrating Melbourne's multicultural legacy, we aim to educate and unite, combating discrimination and nurturing cultural connections.</p>
                    </div>
                    <div class="col-lg-4 col-sm-12 order-lg-1 order-sm-2">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget">
                                    <h5>CultMelbourne</h5>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                        <li><a href="@Url.Action("Index", "Education")">Education</a></li>
                                        <li><a href="#cultural-events">Culture Events</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="widget">
                                    <h5>Our Services</h5>
                                    <ul>
                                        <li><a href="#">East Asian Melodies</a></li>
                                        <li><a href="#">Discover East Asia</a></li>
                                        <li><a href="#">Voices of East Asia</a></li>
                                        <li><a href="#">Cultural Insights</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">
                                    © 2024 Monash University FIT5120-S1 TP03. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- footer close -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)

</body>
</html>
