@model TP03MainProj.DataHandle.DiverseCulturesViewModel
@{
    ViewBag.Title = "DiverseCultures";

}

<!-- Side Navigation -->

<div class="sidebar collapsed">
    <button class="sidebar-toggle-btn">
        <img src="@Url.Content("~/Content/Mycss/imgs/rightarrow.png")" alt="Expand Sidebar" class="img-fluid w-100 h-auto">
    </button>
    <nav>
        <ul class="country-nav flex-column">
            <li class="nav-item">
                <a href="#china-story" class="country-link btn-toggle toggle-link" aria-expanded="false">China</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#china-story" class="country-link">Overview</a></li>
                    <li><a href="#china-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#china-data" class="country-link">Data Insight</a></li>
                    <li><a href="#china-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#japan-story" class="country-link btn-toggle toggle-link" aria-expanded="false">Japan</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#japan-story" class="country-link">Overview</a></li>
                    <li><a href="#japan-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#japan-data" class="country-link">Data Insight</a></li>
                    <li><a href="#japan-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#korea-story" class="country-link btn-toggle toggle-link" aria-expanded="false">Korea</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#korea-story" class="country-link">Overview</a></li>
                    <li><a href="#korea-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#korea-data" class="country-link">Data Insight</a></li>
                    <li><a href="#korea-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#philipines-story" class="country-link btn-toggle toggle-link" aria-expanded="false">Philippines</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#philipines-story" class="country-link">Overview</a></li>
                    <li><a href="#philipines-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#philipines-data" class="country-link">Data Insight</a></li>
                    <li><a href="#philipines-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#vietnam-story" class="country-link btn-toggle toggle-link" aria-expanded="false">Vietnam</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#vietnam-story" class="country-link">Overview</a></li>
                    <li><a href="#vietnam-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#vietnam-data" class="country-link">Data Insight</a></li>
                    <li><a href="#vietnam-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>



<!-- Side Navigation -->
@*choose part*@
<section class="mt-4 bg-white container-fluid">
    <div class="container m-1 p-1 mt-1 pt-1">
        <div class="row flex-grow-1">
            <!-- Adjust the column width and offset as needed to fit the design -->
            <div class="col-lg-10 offset-lg-1">
                <ul class="nav ">
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <span class="text-dark fs-5 mx-2">></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="@Url.Action("Index", "Education")">Education Center</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <span class="text-dark fs-5 mx-2">></span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link fs-5" style="font-size: large; color: #d48810;">Diverse Cultures</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*Story part*@
    <div class="row">
        <div class="container-fluid">
            @foreach (var country in new[] { "China", "Japan", "Korea", "Philipines", "Vietnam" })
            {
                var countryId = country.ToLower();
                <div id="@($"{countryId}-story")" class="story-item" style="display: none;">
                    @Html.Partial($"~/Views/Education/CountryStory/{country}.cshtml", country)

                    <div class="bg-light text-dark pb-5" id="@($"{countryId}-data")">
                        <div class="container">
                            @{
                                var title = "";
                                switch (country as string)
                                {
                                    case "China":
                                        title = "Chinese";
                                        break;
                                    case "Japan":
                                        title = "Japanese";
                                        break;
                                    case "Korea":
                                        title = "Korean";
                                        break;
                                    case "Philipines":
                                        title = "Filipino";
                                        break;
                                    case "Vietnam":
                                        title = "Vietnamese";
                                        break;
                                    default:
                                        title = ""; // Default colour
                                        break;
                                }

                            }
                            <div class="row display-3 p-5 fw-bold justify-content-center">@($"{title} Analytics")</div>

                            <!-- Dropdown for selecting the chart type -->
                            <div class="row justify-content-center mb-4">
                                <div class="col-md-10">
                                    <select class="form-select chart-type-selector" id="@($"{countryId}-chart-selector")">
                                        <option value="population-chart" selected>Population</option>
                                        <option value="occupation-chart">Occupation</option>
                                        <option value="religion-chart">Religion</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Population Chart Container -->
                            <div class="row justify-content-center">
                                <div class="col-md-10 p-1 mt-5">
                                    <div id="@($"{countryId}-population-chart")" class="chart-container"></div>
                                    <div id="@($"{countryId}-occupation-chart")" style="display: none;" class="chart-container"></div>
                                    <div id="@($"{countryId}-religion-chart")" style="display: none;" class="chart-container"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    @Html.Partial($"~/Views/Education/MigrationStories/{country}Story.cshtml", country)
                </div>
            }
        </div>
    </div>


</section>




@section Scripts{

    @Scripts.Render("~/bundles/educationJS")

    <!-- For the Stream Chart -->
    <script>



    </script>




}



@section Styles{
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    @Styles.Render("~/Content/edu")

    <style>

        .fs-responsive {
            font-size: calc(0.9rem + 0.5vw); /* Smaller base size with slight scaling based on viewport width */
        }

        .chart-container {
            width: 100%;
            min-height: 500px;
        }


        .fixed-size-image {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .no-underline {
            text-decoration: none;
            color: white;
        }

            .no-underline:hover {
                color: #FECE58;
            }

        .canvasjs-chart-container {
            max-width: 100%;
            width: 100%;
            min-height: 500px;
            max-height: 600px;
            height: auto;
            overflow: visible;
        }



        .edu-img {
            height: 150px; /* Fixed height for all images */
            width: auto; /* Maintain aspect ratio */
            object-fit: cover; /* Cover the frame fully, might crop some parts */
        }

        .choose-item.highlight {
            border: 2px solid #FECE58;
            box-shadow: 0 0 20px 5px #FECE58;
        }

        .choose-item:hover {
            border: 2px solid #FECE58;
            box-shadow: 0 0 20px 5px #FECE58;
        }

        .timeline-image {
            max-width: 100%;
            max-height: 5%;
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 15px;
        }
        .story img {
            border-radius: 18px;
        }
        .img-resize {
            max-width: 75%;
            max-height: auto;
            object-fit: contain;
        }

        .sidebar {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 200px;
            height: 50%;
            background-color: #FECE58;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 1000;
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
            border-radius: 10px;
        }
        /* Style adjustments for the sidebar toggle button */
        .sidebar-toggle-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #FECE58;
            border: none;
            color: black;
            font-size: 24px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 50%;
            outline: none;
            z-index: 1001;
        }

        /* Hide the toggle button when the sidebar is expanded or on hover */
        .sidebar.expanded .sidebar-toggle-btn,
        .sidebar:hover .sidebar-toggle-btn {
            display: none;
        }

        .country-nav {
            list-style-type: none;
            padding: 0;
        }

        .nav-item {
            margin-bottom: 10px;
        }

        .country-link {
            display: block;
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 10px 0;
            border-bottom: 1px solid #000;
        }

            .country-link:hover {
                background-color: #ccc;
            }

        .sub-nav {
            display: none;
            list-style-type: none;
            padding-left: 20px;
        }

            .sub-nav a {
                display: block;
                color: black;
                font-size: 0.9em;
            }

                .sub-nav a:hover {
                    background-color: #e6e6e6;
                }

        .country-link:hover,
        .country-link:focus {
            background-color: #ccc;
        }


        /* Initial state of the sidebar when collapsed */
        .sidebar.collapsed {
            width: 50px; /* Adjust width to your preference */
            overflow: hidden;
            transition: width 0.3s ease;
        }

        /* Expanded state of the sidebar */
        .sidebar.expanded {
            width: 200px; /* Adjust width to your preference */
            transition: width 0.3s ease;
        }

        /* Style adjustments for navigation links in collapsed mode */
        .sidebar.collapsed .country-link {
            display: none; /* Hide text labels in collapsed state */
        }

        .sidebar.collapsed .nav-item {
            text-align: center; /* Center icons or bullets if used */
        }
    </style>
}
