@*@model TP03MainProj.DataHandle.CountryDataViewModel*@
@{
    ViewBag.Title = "DiverseCultures";

}
<!-- Side Navigation -->
<div class="sidebar">
    <nav>
        <ul class="country-nav flex-column">
            <li class="nav-item">
                <a href="#china-story" class="country-link  toggle-link">China</a>
                <ul class="sub-nav">
                    <li><a href="#china-story" class="country-link">Overview</a></li>
                    <li><a href="#china-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#china-data" class="country-link">Data Insight</a></li>
                    <li><a href="#china-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#japan-story" class="country-link toggle-link">Japan</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#japan-story" class="country-link">Overview</a></li>
                    <li><a href="#japan-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#japan-data" class="country-link">Data Insight</a></li>

                    <li><a href="#japan-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#korea-story" class="country-link toggle-link">Korea</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#korea-story" class="country-link">Overview</a></li>
                    <li><a href="#korea-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#korea-data" class="country-link">Data Insight</a></li>

                    <li><a href="#korea-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#philipines-story" class="country-link toggle-link">Philippines</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#philipines-story" class="country-link">Overview</a></li>
                    <li><a href="#philipines-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#philipines-data" class="country-link">Data Insight</a></li>

                    <li><a href="#philipines-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#vietnam-story" class="country-link toggle-link">Vietnam</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#vietnam-story" class="country-link">Overview</a></li>
                    <li><a href="#vietnam-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#vietnam-data" class="country-link">Data Insight</a></li>

                    <li><a href="#vietnam-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>


<!-- Side Navigation -->
@*choose part*@
<section class="mt-4">
    <div class="container justify-content-center align-content-center">
        <div class="row">
            <div class="col-lg-8">
                <ul class="crumb mb-3" id="">
                    <li style="font-size: large;"><a class="text-dark" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li style="font-size: large;" class="text-dark ms-2 me-2">></li>
                    <li style="font-size: large;" class="active"><a class="text-dark" href="@Url.Action("Index", "Education")">Education Center</a></li>
                    <li style="font-size: large;" class="text-dark ms-2 me-2">></li>
                    <li style="font-size: large; color: #d48810 " class="active">Diverse Cultures</li>
                </ul>
            </div>
        </div>
    </div>

    @*story part*@
    <div id="china-story" class="story-item" style="display: none;">
        <div class="no-bottom no-top" id="content" style="background-size: cover; background-repeat: no-repeat;">
            @Html.Partial("~/Views/Education/CountryStory/China.cshtml", "China")

            <section class="bg-grey text-dark" id="china-data" style="background-size: cover; background-repeat: no-repeat;">
                <div class="container" style="background-size: cover; background-repeat: no-repeat;">

                    <div class="row gx-5 align-items-center" style="background-size: cover; background-repeat: no-repeat;">
                        <h1>China data</h1>

                        <div id="chartContainer" style="height: 400px; width: 100%;"></div>


                        <div id="china-chart" style="height: 300px; width: 100%;"></div>

                    </div>
                </div>
            </section>
            @Html.Partial("~/Views/Education/MigrationStories/ChinaStory.cshtml", "China")
        </div>

    </div>

    <div id="japan-story" class=" story-item" style="display: none;">
        <div class="no-bottom no-top" id="content" style="background-size: cover; background-repeat: no-repeat;">

            @Html.Partial("~/Views/Education/CountryStory/Japan.cshtml", "Japan")

            <section class="bg-grey text-dark" id="japan-data" style="background-size: cover; background-repeat: no-repeat;">
                <div class="container" style="background-size: cover; background-repeat: no-repeat;">

                    <div class="row gx-5 align-items-center" style="background-size: cover; background-repeat: no-repeat;">
                        <h1>Japan data</h1>
                        <div id="japan-chart" style="height: 300px; width: 100%;"></div>

                    </div>
                </div>
            </section>

            @Html.Partial("~/Views/Education/MigrationStories/JapanStory.cshtml", "Japan")

        </div>
    </div>

    <div id="korea-story" class=" story-item" style="display: none;">
        <div class="no-bottom no-top" id="content" style="background-size: cover; background-repeat: no-repeat;">

            @Html.Partial("~/Views/Education/CountryStory/Korea.cshtml", "Korea")

            <section class="bg-grey text-dark" id="korea-data" style="background-size: cover; background-repeat: no-repeat;">
                <div class="container" style="background-size: cover; background-repeat: no-repeat;">

                    <div class="row gx-5 align-items-center" style="background-size: cover; background-repeat: no-repeat;">
                        <h1>Korea data</h1>
                        <div id="korea-chart" style="height: 300px; width: 100%;"></div>

                    </div>
                </div>
            </section>

            @Html.Partial("~/Views/Education/MigrationStories/KoreaStory.cshtml", "Korea")

        </div>

    </div>

    <div id="philipines-story" class=" story-item" style="display: none;">
        <div class="no-bottom no-top" id="content" style="background-size: cover; background-repeat: no-repeat;">

            @Html.Partial("~/Views/Education/CountryStory/Philipines.cshtml", "Philipines")

            <section class="bg-grey text-dark" id="philipines-data" style="background-size: cover; background-repeat: no-repeat;">
                <div class="container" style="background-size: cover; background-repeat: no-repeat;">

                    <div class="row gx-5 align-items-center" style="background-size: cover; background-repeat: no-repeat;">
                        <h1>Philipines data</h1>
                        <div id="philipines-chart" style="height: 300px; width: 100%;"></div>

                    </div>
                </div>
            </section>

            @Html.Partial("~/Views/Education/MigrationStories/PhilipinesStory.cshtml", "Philipines")

        </div>

    </div>

    <div id="vietnam-story" class=" story-item" style="display: none;">
        <div class="no-bottom no-top" id="content" style="background-size: cover; background-repeat: no-repeat;">

            @Html.Partial("~/Views/Education/CountryStory/Vietnam.cshtml", "Vietnam")

            <section class="bg-grey text-dark" id="vietnam-data" style="background-size: cover; background-repeat: no-repeat;">
                <div class="container" style="background-size: cover; background-repeat: no-repeat;">

                    <div class="row gx-5 align-items-center" style="background-size: cover; background-repeat: no-repeat;">
                        <h1>Vietnam data</h1>
                        <div id="vietnam-chart" style="height: 300px; width: 100%;"></div>

                    </div>
                </div>
            </section>

            @Html.Partial("~/Views/Education/MigrationStories/VietnamStory.cshtml", "Vietnam")
        </div>

    </div>
</section>





@section Scripts{
    @*@Scripts.Render("~/bundles/educationJS")*@

    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>



    <script>
        $(document).ready(function () {


                function navigateToSection(sectionId) {
                    $('.story-item').hide();
                    $(sectionId).show();
                    var targetSection = $(sectionId);
                    if (targetSection.length) {
                        $('html, body').animate({
                            scrollTop: targetSection.offset().top - 50
                        }, 500);
                        window.history.pushState(null, null, '?country=' + sectionId.replace('#', '').replace('-story', ''));
                    } else {
                        console.error("Section not found:", sectionId);
                    }

                }
                $('.toggle-link').click(function (e) {
                    e.preventDefault();
                    $(this).siblings('.sub-nav').slideToggle();
                    $('.sub-nav').not($(this).siblings('.sub-nav')).slideUp();
                    var sectionId = $(this).attr('href');
                    navigateToSection(sectionId);

                });

                var urlParams = new URLSearchParams(window.location.search);
                var country = urlParams.get('country');
                if (country) {
                    navigateToSection('#' + country + "-story");
                    $('a[href="#' + country + '"]').next('.sub-nav').slideDown();
                } else {
                    $('.sub-nav').first().slideDown();
                    navigateToSection($('.toggle-link').first().attr('href'));
            }

    var chinaData = @Html.Raw(Json.Encode(ViewBag.ChinaData));
    var chart = new CanvasJS.Chart("china-chart", {
        title: {
            text: "China Chart"
        },
        data: [{
            type: "column",
            dataPoints: chinaData.map(function(data) {
                var sum = Object.values(data.AgeGroups).reduce((a, b) => a + b, 0);
                return { label: data.CensusId.toString(), y: sum };
            })
        }]
    });
    chart.render();
            });
    </script>

}



@section Styles{



    <style>
        .edu-img {
            height: 150px; /* Fixed height for all images */
            width: auto; /* Maintain aspect ratio */
            object-fit: cover; /* Cover the frame fully, might crop some parts */
        }

        .choose-item.highlight {
            border: 2px solid #FECE58;
            box-shadow: 0 0 20px 5px #FECE58;
        }

        .choose-item:hover {
            border: 2px solid #FECE58;
            box-shadow: 0 0 20px 5px #FECE58;
        }

        .timeline-image {
            max-width: 100%;
            max-height: 5%;
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        .img-resize {
            max-width: 75%;
            max-height: auto;
            object-fit: contain;
        }

        .sidebar {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 200px;
            height: 50%;
            background-color: #FECE58;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 1000;
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
            border-radius: 10px;
        }

        .country-nav {
            list-style-type: none;
            padding: 0;
        }

        .nav-item {
            margin-bottom: 10px;
        }

        .country-link {
            display: block;
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 10px 0;
            border-bottom: 1px solid #000;
        }

            .country-link:hover {
                background-color: #ccc;
            }

        .sub-nav {
            display: none;
            list-style-type: none;
            padding-left: 20px;
        }

            .sub-nav a {
                display: block;
                color: black;
                font-size: 0.9em;
            }

                .sub-nav a:hover {
                    background-color: #e6e6e6;
                }

        .country-link:hover,
        .country-link:focus {
            background-color: #ccc;
        }
    </style>
}