@model TP03MainProj.DataHandle.DiverseCulturesViewModel
@{
    ViewBag.Title = "DiverseCultures";

}

<!-- Side Navigation -->
<div class="sidebar">
    <nav>
        <ul class="country-nav flex-column">
            <li class="nav-item">
                <a href="#china-story" class="country-link  toggle-link">China</a>
                <ul class="sub-nav">
                    <li><a href="#china-story" class="country-link">Overview</a></li>
                    <li><a href="#china-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#china-data" class="country-link">Data Insight</a></li>
                    <li><a href="#china-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#japan-story" class="country-link toggle-link">Japan</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#japan-story" class="country-link">Overview</a></li>
                    <li><a href="#japan-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#japan-data" class="country-link">Data Insight</a></li>

                    <li><a href="#japan-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#korea-story" class="country-link toggle-link">Korea</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#korea-story" class="country-link">Overview</a></li>
                    <li><a href="#korea-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#korea-data" class="country-link">Data Insight</a></li>

                    <li><a href="#korea-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#philipines-story" class="country-link toggle-link">Philippines</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#philipines-story" class="country-link">Overview</a></li>
                    <li><a href="#philipines-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#philipines-data" class="country-link">Data Insight</a></li>

                    <li><a href="#philipines-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#vietnam-story" class="country-link toggle-link">Vietnam</a>
                <ul class="sub-nav" style="display: none;">
                    <li><a href="#vietnam-story" class="country-link">Overview</a></li>
                    <li><a href="#vietnam-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#vietnam-data" class="country-link">Data Insight</a></li>

                    <li><a href="#vietnam-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>


<!-- Side Navigation -->
@*choose part*@
<section class="mt-4 bg-white container-fluid">
    <div class="container m-5 p-5">
        <div class="row flex-grow-1">
            <!-- Adjust the column width and offset as needed to fit the design -->
            <div class="col-lg-10 offset-lg-1">
                <ul class="nav ">
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <span class="text-dark fs-5 mx-2">></span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link fs-5 text-dark">Education Center</span>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <span class="text-dark fs-5 mx-2">></span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link fs-5" style="font-size: large; color: #d48810;">Diverse Cultures</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @*story part*@
    <div class="row">
        <div class="container-fluid">
            <div id="china-story" class="story-item" style="display: none;">
                @Html.Partial("~/Views/Education/CountryStory/China.cshtml", "China")

                <div class="bg-grey text-dark pb-5" id="china-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 p-3" style="height:100px;">
                                <h1 class="mb-4">China data</h1>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <!-- Reduced from col-md-3 -->
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="china-age" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                                <!-- Reduced from col-md-3 -->
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <!-- Reduced from col-md-3 -->
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="china-occupa" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                                <!-- Reduced from col-md-3 -->
                            </div>
                        </div>
                    </div>
                </div>

                @Html.Partial("~/Views/Education/MigrationStories/ChinaStory.cshtml", "China")

            </div>

            <div id="japan-story" class=" story-item" style="display: none;">

                @Html.Partial("~/Views/Education/CountryStory/Japan.cshtml", "Japan")


                <div class="bg-grey text-dark pb-5" id="japan-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 p-3" style="height:100px;">
                                <h1 class="mb-4">Japan data</h1>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="japan-age" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="japan-occupa" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>

                @Html.Partial("~/Views/Education/MigrationStories/JapanStory.cshtml", "Japan")

            </div>

            <div id="korea-story" class=" story-item" style="display: none;">

                @Html.Partial("~/Views/Education/CountryStory/Korea.cshtml", "Korea")


                <div class="bg-grey text-dark pb-5" id="korea-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 p-3" style="height:100px;">
                                <h1 class="mb-4">Korea data</h1>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="korea-age" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="korea-occupa" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>

                @Html.Partial("~/Views/Education/MigrationStories/KoreaStory.cshtml", "Korea")


            </div>

            <div id="philipines-story" class=" story-item" style="display: none;">

                @Html.Partial("~/Views/Education/CountryStory/Philipines.cshtml", "Philipines")


                <div class="bg-grey text-dark pb-5" id="philipines-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 p-3" style="height:100px;">
                                <h1 class="mb-4">Philipines data</h1>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="philipines-age" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="philipines-occupa" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>

                @Html.Partial("~/Views/Education/MigrationStories/PhilipinesStory.cshtml", "Philipines")


            </div>

            <div id="vietnam-story" class=" story-item" style="display: none;">

                @Html.Partial("~/Views/Education/CountryStory/Vietnam.cshtml", "Vietnam")


                <div class="bg-grey text-dark pb-5" id="vietnam-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 p-3" style="height:100px;">
                                <h1 class="mb-4">Vietnam data</h1>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="vietnam-age" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8 p-1 mt-5">
                                <!-- Increased from col-md-6 -->
                                <div id="vietnam-occupa" class="canvasjs-chart-container"></div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>

                @Html.Partial("~/Views/Education/MigrationStories/VietnamStory.cshtml", "Vietnam")
            </div>
        </div>
    </div>

</section>




@section Scripts{
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    @Scripts.Render("~/bundles/educationJS")




}



@section Styles{

    @Styles.Render("~/Content/edu")

    <style>

        .fixed-size-image {
            width: 100%; 
            height: 250px; 
            object-fit: cover;
        }
        .no-underline {
            text-decoration: none;
            color:white;
        }
            .no-underline:hover {
                color: #FECE58; 
            }

        .canvasjs-chart-container {
            max-width: 100%;
            width: 100%;
            min-height: 500px;
            max-height: 600px;
            height: auto;
            overflow: visible;
        }



        .edu-img {
            height: 150px; /* Fixed height for all images */
            width: auto; /* Maintain aspect ratio */
            object-fit: cover; /* Cover the frame fully, might crop some parts */
        }

        .choose-item.highlight {
            border: 2px solid #FECE58;
            box-shadow: 0 0 20px 5px #FECE58;
        }

        .choose-item:hover {
            border: 2px solid #FECE58;
            box-shadow: 0 0 20px 5px #FECE58;
        }

        .timeline-image {
            max-width: 100%;
            max-height: 5%;
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        .img-resize {
            max-width: 75%;
            max-height: auto;
            object-fit: contain;
        }

        .sidebar {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 200px;
            height: 50%;
            background-color: #FECE58;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 1000;
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
            border-radius: 10px;
        }

        .country-nav {
            list-style-type: none;
            padding: 0;
        }

        .nav-item {
            margin-bottom: 10px;
        }

        .country-link {
            display: block;
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding: 10px 0;
            border-bottom: 1px solid #000;
        }

            .country-link:hover {
                background-color: #ccc;
            }

        .sub-nav {
            display: none;
            list-style-type: none;
            padding-left: 20px;
        }

            .sub-nav a {
                display: block;
                color: black;
                font-size: 0.9em;
            }

                .sub-nav a:hover {
                    background-color: #e6e6e6;
                }

        .country-link:hover,
        .country-link:focus {
            background-color: #ccc;
        }
    </style>
}
