@model TP03MainProj.DataHandle.DiverseCulturesViewModel
@{
    ViewBag.Title = "DiverseCultures";

}

<!-- Side Navigation -->
<div class="sidebar collapsed bg-dark  border-dark border rounded-5 shadow-lg"    >
    <button class="sidebar-toggle-btn bg-dark">
        <img src="@Url.Content("~/Content/Mycss/imgs/rightarrow.png")" alt="Expand Sidebar" class="img-fluid w-100 h-auto white-img">
    </button>
    <nav class="">
        <ul class="country-nav flex-column ">
            <li class="nav-item">
                <a href="#china-story" class="country-link btn-toggle toggle-link" aria-expanded="false">China</a>
                <ul class="sub-nav">
                    <li><a href="#china-story" class="country-link">Overview</a></li>
                    <li><a href="#china-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#china-data" class="country-link">Data Insight</a></li>
                    <li><a href="#china-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#japan-story" class="country-link btn-toggle toggle-link" aria-expanded="false">Japan</a>
                <ul class="sub-nav">
                    <li><a href="#japan-story" class="country-link">Overview</a></li>
                    <li><a href="#japan-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#japan-data" class="country-link">Data Insight</a></li>
                    <li><a href="#japan-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#korea-story" class="country-link btn-toggle toggle-link" aria-expanded="false">Korea</a>
                <ul class="sub-nav">
                    <li><a href="#korea-story" class="country-link">Overview</a></li>
                    <li><a href="#korea-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#korea-data" class="country-link">Data Insight</a></li>
                    <li><a href="#korea-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#philipines-story" class="country-link btn-toggle toggle-link" aria-expanded="false">Philippines</a>
                <ul class="sub-nav">
                    <li><a href="#philipines-story" class="country-link">Overview</a></li>
                    <li><a href="#philipines-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#philipines-data" class="country-link">Data Insight</a></li>
                    <li><a href="#philipines-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#vietnam-story" class="country-link btn-toggle toggle-link" aria-expanded="false">Vietnam</a>
                <ul class="sub-nav">
                    <li><a href="#vietnam-story" class="country-link">Overview</a></li>
                    <li><a href="#vietnam-timeline" class="country-link">Timeline</a></li>
                    <li><a href="#vietnam-data" class="country-link">Data Insight</a></li>
                    <li><a href="#vietnam-migration" class="country-link">Migration Stories</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<!-- Side Navigation -->
<section class="mt-4 bg-white container-fluid">
    <div class="container m-1 p-1 mt-1 pt-1">
        <div class="row flex-grow-1">
            <div class="col-lg-10 offset-lg-1">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <span class="text-dark fs-5 mx-2">></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-5" href="@Url.Action("Index", "Education")">Education Center</a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <span class="text-dark fs-5 mx-2">></span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link fs-5" style="font-size: large; color: #d48810;">Diverse Cultures</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            @foreach (var country in new[] { "China", "Japan", "Korea", "Philipines", "Vietnam" })
            {
                var countryId = country.ToLower();
                <div id="@($"{countryId}-story")" class="story-item" style="display: none;">
                    @Html.Partial($"~/Views/Education/CountryStory/{country}.cshtml", country)

                    <div class="bg-light text-dark pb-5" id="@($"{countryId}-data")">
                        <div class="container">
                            @{
                                var title = "";
                                switch (country as string)
                                {
                                    case "China":
                                        title = "Chinese";
                                        break;
                                    case "Japan":
                                        title = "Japanese";
                                        break;
                                    case "Korea":
                                        title = "Korean";
                                        break;
                                    case "Philipines":
                                        title = "Filipino";
                                        break;
                                    case "Vietnam":
                                        title = "Vietnamese";
                                        break;
                                    default:
                                        title = ""; // Default colour
                                        break;
                                }

                            }
                            <div class="row display-3 p-5 fw-bold justify-content-center">@($"{title} Analytics")</div>

                            <!-- Dropdown for selecting the chart type -->
                            <div class="row justify-content-center mb-4">
                                <div class="col-md-10">
                                    <select class="form-select chart-type-selector" id="@($"{countryId}-chart-selector")">
                                        <option value="population-chart" selected>Population</option>
                                        <option value="occupation-chart">Occupation</option>
                                        <option value="religion-chart">Religion</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Population Chart Container -->
                            <div class="row justify-content-center">
                                <div class="col-md-10 p-1 mt-5">
                                    <div id="@($"{countryId}-population-chart")" class="chart-container"></div>
                                    <div id="@($"{countryId}-occupation-chart")" style="display: none;" class="chart-container"></div>
                                    <div id="@($"{countryId}-religion-chart")" style="display: none;" class="chart-container"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    @Html.Partial($"~/Views/Education/MigrationStories/{country}Story.cshtml", country)
                </div>
            }
        </div>
    </div>
</section>





@section Scripts{

    @Scripts.Render("~/bundles/educationJS")

    <!-- For the Stream Chart -->
    <script>



    </script>




}



@section Styles{
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    @Styles.Render("~/Content/edu")

    <style>
        .timeline-image {
            width: 100%;
            height: auto;
            border-radius:15px;
        }
        .shadow-custom {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .border-custom {
            border: 1px solid #dee2e6;
        }
        .white-img {
            filter: brightness(0) invert(1);
        }

        .sidebar {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 200px;
            height: auto;
            min-height: 20%;
            max-height: 80%;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 1000;
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
            border-radius: 10px;
            transition: width 0.3s ease;
            background-color: #343a40;
        }

        .sidebar-toggle-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            font-size: 24px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 50%;
            outline: none;
            z-index: 1001;
            
            
        }

        .sidebar.expanded .sidebar-toggle-btn,
        .sidebar:hover .sidebar-toggle-btn {
            display: none;
        }

        .country-nav {
            list-style-type: none;
            padding: 0;
        }

        .nav-item {
            margin-bottom: 10px;
        }

        .country-link {
            display: block;
            text-decoration: none;
            font-weight: bold;
            padding: 10px 0;
            
        }

        .country-link, .sub-nav a {
            color:white;
        }


        .sub-nav {
            display: none;
            list-style-type: none;
            padding-left: 20px;
        }

            .sub-nav a {
                display: block;
                font-size: 0.9em;
            }

        .country-link:hover,
        .country-link:focus {
            background-color: #ffffff;
            color:black;
        }

        .sidebar.collapsed {
            width: 50px;
        }

        .sidebar.expanded {
            width: 200px;
        }

        .sidebar.collapsed .country-link {
            display: none;
        }

        .sidebar.collapsed .nav-item {
            text-align: center;
        }
        .card-title a {
            text-decoration: none;
            color: white;
        }

            .card-title a:hover {
                color: gold;
            }

        .fixed-size-image {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

    </style>
}
