
@{
    ViewBag.Title = "Education";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="welcome-section" class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="background-images">
        <!-- Consider using Bootstrap's responsive utilities -->
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="img3"></div>
        <div class="img4"></div>
        <div class="img5"></div>
    </div>
    <div class="row">
        <div class="col-12 text-center" id="welcome-education-text">
            <h1 class="display-1 fw-bold mb-4 text-white">Discover the Wonders of Multicultural Education</h1>
            <button id="explore-button" class="btn btn-primary">Discover More</button>
        </div>
    </div>

    <div id="education-content" class="justify-content-center align-items-center row bg-white bg-opacity-75 m-5" style="display: none;">
        <div class="container h-100 d-flex flex-column justify-content-center">
            <div class="row justify-content-end">
                <button id="exit-button" class="btn btn-secondary mb-5"></button>
            </div>
            <div class="row flex-grow-1 align-items-center">
                <div class="container text-center">
                    <h2 class="display-5 fw-bold mt-3 mb-2">Embark on a Journey of Cultural Discovery</h2>
                    <nav class="nav justify-content-center align-items-center">
                        <a class="nav-link text-dark" href="@Url.Action("Index", "Home")">Home</a>
                        <span class="text-dark mx-2 d-flex fw-bold">></span>
                        <a class="nav-link text-warning fw-bold"  href="#">Education Center</a>
                    </nav>

                    <div class="row justify-content-center mt-5 bookshelf">
                        @foreach (var country in new[] { "China", "Japan", "Korea", "Philipines", "Vietnam" })
                        {
                            <div class="col-6 col-md-4 col-lg-3 col-xl-2 book rounded" style="background-image: url('@Url.Content($"~/Content/Customer/images/team/{country}.jpg")');">
                                <a href="@Url.Action("DiverseCultures", "Education", new { country = country.ToLower() })" class="overlay-btn w-100 h-100 d-flex align-items-center justify-content-center" style="text-decoration: none;">
                                    <span class="fw-bold fs-3">@country</span>
                                </a>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    @Styles.Render("~/bundles/css")
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#explore-button').on('click', function () {
                $('#education-content').show();
                $('#welcome-education-text').hide(); // Hide welcome text
                $('#welcome-section').addClass('dark-overlay'); // Add class to apply dark overlay
            });
            $('#exit-button').on('click', function () {
                $('#education-content').hide();
                $('#welcome-education-text').show(); // Show welcome text
                $('#welcome-section').removeClass('dark-overlay'); // Remove class to remove dark overlay
            });
        });
    </script>
}
