 
@{
    ViewBag.Title = "Education";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="welcome-section" class="">
    <div class="background-images">
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="img3"></div>
        <div class="img4"></div>
        <div class="img5"></div>

    </div>
    <div class="container">
        <div class="text-center pb-5" id="welcome-education-text">
            <h1>Discover  the  Wonders  of  Multicultural  Education</h1>
            <button id="explore-button" class="btn btn-capsule">Discover More</button>
        </div>

        <div id="education-content" class="justify-content-center align-items-center" style="">
            <button id="exit-button" class="btn btn-secondary"></button>

            <div class="no-bottom no-top" id="">
                <div id="top"></div>

                <section id="subheader">
                    <div class="container">
                        <div class="row text-center ">
                            <div class="col-lg-8 offset-lg-2 ">
                                <h2 class="wow fadeInUp mb20" data-wow-delay=".2s">Embark on a Journey of Cultural Discovery</h2>
                                <ul class="crumb mb-5" id="education-nav">
                                    <li style="font-size: large;">
                                        <a class="text-dark" href="@Url.Action("Index", "Home")">Home</a>
                                    </li>
                                    <li style="font-size: large;" class="text-dark ms-2 me-2">></li>
                                    <li style="font-size: large; color: #d48810 " class="active">Education Center</li>
                                </ul>
                            </div>
                        </div>


                        <div class="bookshelf row justify-content-center mt-5">
                            <div class="book" id="china-img" style="background-image: url('@Url.Content("~/Content/Customer/images/team/Chinese.jpg")');">
                                <a href="@Url.Action("DiverseCultures", "Education", new { country = "china" })" class="overlay-btn">China</a>
                            </div>
                            <div class="book" id="japan-img" style="background-image: url('@Url.Content("~/Content/Customer/images/team/Japanese.png")');">
                                <a href="@Url.Action("DiverseCultures", "Education", new { country = "japan" })" class="overlay-btn">Japan</a>
                            </div>
                            <div class="book" id="korea-img" style="background-image: url('@Url.Content("~/Content/Customer/images/team/Korean.png")');">
                                <a href="@Url.Action("DiverseCultures", "Education", new { country = "korea" })" class="overlay-btn">Korea</a>
                            </div>
                            <div class="book" id="philippines-img" style="background-image: url('@Url.Content("~/Content/Customer/images/team/Filipino.jpg")');">
                                <a href="@Url.Action("DiverseCultures", "Education", new { country = "philipines" })" class="overlay-btn">Philippines</a>
                            </div>
                            <div class="book" id="vietnam-img" style="background-image: url('@Url.Content("~/Content/Customer/images/team/Vietnamese.jpg")');">
                                <a href="@Url.Action("DiverseCultures", "Education", new { country = "vietnam" })" class="overlay-btn">Vietnam</a>
                            </div>
                        </div>



                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


@section Styles {
    @Styles.Render("~/bundles/Culture")
    @Styles.Render("~/bundles/css")
}

@section Scripts{




    <script>
        $(document).ready(function () {
            $('#explore-button').on('click', function () {
                $('#education-content').show();
                $('#welcome-education-text').hide(); // Hide welcome text
                $('#welcome-section').addClass('dark-overlay'); // Add class to apply dark overlay
            });
            $('#exit-button').on('click', function () {
                $('#education-content').hide();
                $('#welcome-education-text').show(); // Show welcome text
                $('#welcome-section').removeClass('dark-overlay'); // Remove class to remove dark overlay
            });
        });
    </script>
}
