@{
    ViewBag.Title = "Home Page";
}

<main>
    <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-touch="false" data-bs-pause="false" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="@Url.Content("~/Content/Customer/images/slider/2.jpg")" class="d-block  img-fluid" alt="...">
                    <div class="slides-overlay"></div>
                    <div class="carousel-caption d-md-block">
                        <div class="container">
                            <div class="row justify-content-center justify-content-md-start">
                                <div class="col-12 col-md-8 col-lg-6">
                                    <div class="mb-4 rounded text-warning diversity-highlight">Embracing Diversity</div>
                                    <h1 class="display-2 fw-bold">Explore <span class="text-warning">East Asian</span> Culture</h1>
                                    <hr>
                                    <p class="slider-teaser fs-6 fs-md-5 fs-lg-4">Dive into the rich history, arts, and traditions of East Asia and experience its unique charm.</p>
                                    <a class="btn btn-primary fs-6 fs-md-5 fs-lg-4 h-auto" href="@Url.Action("Index", "Home")#footerbottom">Explore Traditions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item " data-bs-interval="10000">
                    <img src="@Url.Content("~/Content/Customer/images/slider/3.jpg")" class="d-block  img-fluid" alt="...">
                    <div class="slides-overlay"></div>
                    <div class="carousel-caption d-md-block">
                        <div class="container">
                            <div class="row justify-content-center justify-content-md-start">
                                <div class="col-12 col-md-8 col-lg-6">
                                    <div class="mb-4 rounded text-warning diversity-highlight">Celebrating Traditions</div>
                                    <h1 class="display-2 fw-bold">Our Stories</h1>
                                    <hr>
                                    <p class="slider-teaser fs-6 fs-md-5 fs-lg-4">Hear the stories of East Asian immigrants who have made their mark in Melbourne, adding color and diversity to our city.</p>
                                    <a class="btn btn-primary fs-6 fs-md-5 fs-lg-4 h-auto" href="@Url.Action("Index", "Education")">Learn Stories</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item " data-bs-interval="10000">
                    <img src="@Url.Content("~/Content/Customer/images/slider/4.jpg")" class="d-block  img-fluid" alt="...">
                    <div class="slides-overlay"></div>
                    <div class="carousel-caption d-md-block">
                        <div class="container">
                            <div class="row justify-content-center justify-content-md-start">
                                <div class="col-12 col-md-8 col-lg-6">
                                    <div class="mb-4 rounded text-warning diversity-highlight">Preserving Heritage</div>
                                    <h1 class="display-2 fw-bold">Building an Inclusive Community</h1>
                                    <hr>
                                    <p class="slider-teaser fs-6 fs-md-5 fs-lg-4">Learn how to recognize and oppose discrimination, striving together to create a more inclusive and understanding environment for East Asian immigrants.</p>
                                    <a class="btn btn-primary fs-6 fs-md-5 fs-lg-4 h-auto" href="@Url.Action("Index", "Education")">Explore History</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span the="visually-hidden"></span>
            </button>
        </div>
    </section>


    <section class=" p-5 " style="background: linear-gradient(to right, #FFA500, #FF8C00, #FF7F50, #FF4500); ">
        <div class="container home-container pt-5 g-4 overlay-content rounded-4  shadow-lg " style="border-radius: 15px; ">
            <div class="row justify-content-center mb-4 mb-md-5">
                <div class="col-12 text-center">
                    <!-- Custom class for tight background -->
                    <div class="d-inline-block px-3 py-1 border" style="border-radius: .25rem; background-color: #e2e2e2;">
                        <span class="text-dark">Our Features</span>
                    </div>

                    <h2 class="mt-3" style="word-spacing: 0.35em;"><strong>Exploring East Asian Culture</strong></h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="row justify-content-center pb-5">
                        <div class="col-12 col-md-6 col-lg-5 p-auto">
                            <img src="@Url.Content("~/Content/Customer/images/services/1.webp")" class="img-fluid home-feature-img rounded-5" alt="Description of Image">
                        </div>
                        <div class="col-12 col-md-6 col-lg-7 text-start">
                            <h3>East Asian Melodies</h3>
                            <hr class="">
                            <p>Experience the vibrant celebrations of East Asian cultures right here in Melbourne. Join us in festivals that tell tales of heritage and unity, connecting the East with the West.</p>
                        </div>
                    </div>

                    <div class="row justify-content-center pb-5">
                        <div class="col-12 col-md-6 col-lg-7 text-start">
                            <h3>Discover East Asia</h3>
                            <hr>
                            <p>Dive into the rich history and traditions of East Asia through educational workshops and events. Gain insights, understand values, and break down cultural barriers.</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5 p-auto">
                            <img src="@Url.Content("~/Content/Customer/images/services/2.webp")" class="img-fluid rounded-5 home-feature-img" alt="">
                        </div>

                    </div>

                    <div class="row justify-content-center pb-5">
                        <div class="col-12 col-md-6 col-lg-5 p-auto">
                            <img src="@Url.Content("~/Content/Customer/images/services/3.webp")" class="img-fluid rounded-5 home-feature-img" alt="">
                        </div>
                        <div class="col-12 col-md-6 col-lg-7 text-start">
                            <h3>Voices of East Asia</h3>
                            <hr>
                            <p>Listen to the authentic stories of East Asian immigrants in Melbourne. This anonymous space allows for the sharing of personal journeys, cultural memories, and the creation of a shared understanding.</p>
                        </div>
                    </div>

                    <div class="row justify-content-center pb-5">
                        <div class="col-12 col-md-6 col-lg-7 text-start">
                            <h3>Cultural Insights              </h3>
                            <hr>
                            <p>Explore data-driven insights into the lives of East Asian communities in Melbourne. Understand the patterns, challenges, and successes of integration, aiming for a society free from discrimination.</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5 p-auto">
                            <img src="@Url.Content("~/Content/Customer/images/services/4.webp")" class="img-fluid rounded-5 home-feature-img" alt="">
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="jarallax text-light">
        <img src="@Url.Content("~/Content/Customer/images/background/2.webp")" class="jarallax-img" alt="">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 p-5">
                    <div class="diversity-highlight text-warning mb-3">Our Mission</div>
                    <h2 class="fw-bold display-4" style="word-spacing: 0.25em;">
                        We aim to promote multicultural respect and unity in Melbourne, empowering East Asian communities to overcome discrimination and celebrate diversity.
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section id="cultural-events" class="bg-body py-5">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12 text-start">
                    <div class="d-inline-block  px-3 py-1 border" style="border-radius: .25rem;background-color:#e2e2e2">
                        <span class="text-dark ">Explore Cultures</span>
                    </div>
                    <h2 class="mt-3 fw-bold">Select Culture to Explore</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                @foreach (var culture in new[] { "Chinese.jpg", "Japanese.jpg", "Korean.jpg", "Filipino.jpg", "Vietnamese.jpg" })
                {
                    var cultureName = System.IO.Path.GetFileNameWithoutExtension(culture);
                    <div class="col-lg-2 col-md-4 col-sm-6 text-center mb-4">
                        <a href="@Url.Action("Index", "Events", new { culture = cultureName })" target="_blank" class="culture-btn">
                            <div class="bg-color-2 shadow-lg rounded-4 border-bottom-5  border-5 bg-body overflow-hidden" style="width: 200px; height: 180px;">
                                <img src="@Url.Content($"~/Content/Images/team/{culture}")" class="img-fluid rounded-4 border-bottom-5  " alt="@cultureName Culture" style="height: 100%; width: 100%; object-fit: cover;">
                            </div>
                            <h5>@cultureName</h5>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>






</main>



@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jarallax/dist/jarallax.css">

    @Styles.Render("~/Content/css")

    <style>
        .jarallax-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .jarallax {
            height: 600px;
        }



        .home-feature-img {
            width: 100%;
            height: auto;
            max-height: 300px;
        }

        .carousel {
            position: relative;
            z-index: 1;
        }

        .overlay-content {
            position: relative;
            top: -250px;
            z-index: 2;
            background-color: white;
            padding: 20px;
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }



        .home-container p {
            margin: 0 auto;
            width: 100%;
        }

        .home-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height:auto  ;
        }



        .carousel-item img {
            width: 100%;
            height: 1100px;
            object-fit: cover;
        }


        .carousel-caption .display-1 {
            font-weight: bold;
        }

        .slides-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }

        .carousel-caption {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            padding: 1rem;
            color: #fff;
            text-align: left;
            z-index: 10;
            margin-bottom: 30rem;
        }

            .carousel-caption.left-text {
                position: absolute;
                right: auto;
                left: 20%;
                bottom: 50%;
                transform: translateY(50%);
                z-index: 10;
                color: white;
                text-align: left;
                max-width: 45%;
            }


        .carousel-control-prev, .carousel-control-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 11;
            width: 44px;
            height: 44px;
        }

        .carousel-control-prev {
            left: 10px;
        }

        .carousel-control-next {
            right: 10px;
        }

        .carousel-control-prev-icon, .carousel-control-next-icon {
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
        }


        .carousel-item {
            transition: transform 0.5s ease;
        }


        .carousel-caption h5, .carousel-caption p {
            color: white;
        }

        .carousel-item {
            transition-duration: 1s;
        }




        .slider-teaser {
            font-size: 1rem;
        }

        .diversity-highlight {
            background-color: rgba(255, 255, 255, 0.2);
            padding: 5px 10px;
            font-weight: bold;
            display: inline-block;
            border-radius: 5px;
        }

        .diversity-highlight,
        .culture-btn h4 {
            text-transform: uppercase;
            font-weight: bold; 
        }

        #cultual-events { 
            background-color: #fff;
        }

        .culture-btn {
            display: block;
            text-decoration: none;
            color: inherit;
            width: 180px; /* Match the width set in HTML */
            margin: auto; /* Center the button blocks within the column */
        }

        #cultual-events .bg-color-2 {
            position: relative;
            width: 180px;
            height: 180px;
            border-radius: 12px; /* Adjusted to be less rounded */
            overflow: hidden;
            background-color: #ffc107;
        }
        .culture-item {
            padding: 15px; /* Provides spacing around each item */
        }

        .culture-btn img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }

        .culture-btn:hover img {
            transform: scale(1.1);
            opacity: 0.7;
        }

        .culture-btn h4 {
            margin-top: 8px;
            transition: color 0.3s ease-in-out;
        }

        .culture-btn:hover h4 {
            color: #d48810; /* Or any highlight color that fits your design */
        }

    </style>
}

@section Scripts{
    <!-- Include Jarallax CSS -->
    <!-- Include Jarallax script -->
    <script src="https://cdn.jsdelivr.net/npm/jarallax/dist/jarallax.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            jarallax(document.querySelectorAll('.jarallax'), {
                speed: 0.2
            });
        });
    </script>

}
