@model string
    <div id="top" style="background-size: cover; background-repeat: no-repeat;"></div>

    <section class="bg-dark-1 text-light" style="background-size: cover; background-repeat: no-repeat;">
        <div class="container" style="background-size: cover; background-repeat: no-repeat;">

            <div class="row gx-5 align-items-center" style="background-size: cover; background-repeat: no-repeat;">
                <div class="col-lg-6" style="background-size: cover; background-repeat: no-repeat;">
                    <h1><strong class="text-warning">Japanese</strong> Community in Victoria</h1>
                    <p>The Japanese community in Victoria has undergone significant changes over the past century. Initial immigration was sparse due to restrictions from both Japan and Australian policies. Despite these barriers, the community began to grow, only to face internment and deportation during World War II. The post-war era saw a slow recovery with the arrival of Japanese war brides, and the community's population began to rise steadily. The cessation of the White Australia policy marked a new era of growth and by 2016, the Japan-born population in Victoria reached 8,515. Today, the Japanese community is an established part of Victoria's social fabric, contributing culturally and economically, notably through annual cultural festivals and a variety of community organizations.</p>
                </div>
                <div class="col-lg-6" style="background-size: cover; background-repeat: no-repeat;">
                    <div class="row" style="background-size: cover; background-repeat: no-repeat;">
                        <div class="col-6" style="background-size: cover; background-repeat: no-repeat;">
                            <img class="img-resize" src="@Url.Content("~/Content/Customer/images/study-case-single/main/jp/1.jpeg")" class="img-fluid rounded-10 wow zoomIn animated" alt="" style="visibility: visible; animation-name: zoomIn;">

                            <div class="spacer-single" style="background-size: cover; background-repeat: no-repeat;"></div>
                            <div class="col-6 offset-6" style="background-size: cover; background-repeat: no-repeat;">
                                <div class="de_count wow fadeInUp animated" style="background-size: cover; background-repeat: no-repeat; visibility: visible; animation-name: fadeInUp;">
                                    <h3><span class="timer" data-to="30 " data-speed="3000">30</span></h3>
                                    <h4>1891 <br>Population</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" style="background-size: cover; background-repeat: no-repeat;">
                            <div class="spacer-double" style="background-size: cover; background-repeat: no-repeat;"></div>
                            <div class="col-6" style="background-size: cover; background-repeat: no-repeat;">
                                <div class="de_count wow fadeInUp animated" style="background-size: cover; background-repeat: no-repeat; visibility: visible; animation-name: fadeInUp;">
                                    <h3><span class="timer" data-to="8515" data-speed="3000">8,515</span></h3>
                                    <h4>2016<br>Population</h4>
                                </div>
                            </div>
                            <div class="spacer-10" style="background-size: cover; background-repeat: no-repeat;"></div>
                            <img class="img-resize" src="@Url.Content("~/Content/Customer/images/study-case-single/main/jp/2.jpeg")" class="img-fluid rounded-10 wow zoomIn animated" alt="" style="visibility: visible; animation-name: zoomIn;">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="timeline" id="japan-timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="site-timeline-content">
                        <!-- Article -->
                        <div class="de-timeline-article odd">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img class="timeline-image" src="@Url.Content("~/Content/Customer/images/timeline/Japan/late1800s.jpg")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">Late 1800s</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">Beginnings of Migration</h3>
                                    <p>Japanese began to emigrate to Australia, working in pearling in northern Australia and other industries.</p>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article even">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1901</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">Immigration Restriction Act</h3>
                                    <p>Passage of the act restricted non-European immigrants, including Japanese; however, some were exempted from the dictation test by 1904.</p>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img class="timeline-image" src="@Url.Content("~/Content/Customer/images/timeline/Japan/1901 act.png")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article odd">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img class="timeline-image" src="@Url.Content("~/Content/Customer/images/timeline/Japan/1944.jpg")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1941-1947</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">WW II and Internment</h3>
                                    <p>During the war against Japan, the Japanese population in Victoria was interned and mostly deported afterward.</p>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article even">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1973-2016</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">Growth and Cultural Integration</h3>
                                    <p>After the end of the White Australia policy, the Japan-born population in Victoria grew, culminating in a community of 8,515 by 2016.</p>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img class="timeline-image" src="@Url.Content("~/Content/Customer/images/timeline/Japan/Japanese.png")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                    </div>
                </div>
            </div>
        </div>
    </section>
