@model string

<section class="bg-light text-dark m-5 p-5">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="display-3 fw-bold pt-2"><div class="text-warning">Japanese</div> Community in Victoria</div>

                <p class="fs-5">The Japanese community in Victoria has undergone significant changes over the past century. Initial immigration was sparse due to restrictions from both Japan and Australian policies. Despite these barriers, the community began to grow, only to face internment and deportation during World War II. The post-war era saw a slow recovery with the arrival of Japanese war brides, and the community's population began to rise steadily. The cessation of the White Australia policy marked a new era of growth and by 2016, the Japan-born population in Victoria reached 8,515. Today, the Japanese community is an established part of Victoria's social fabric, contributing culturally and economically, notably through annual cultural festivals and a variety of community organizations.</p>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row">
                                <img src="@Url.Content("~/Content/Customer/images/study-case-single/main/jp/2.jpeg")" class="img-fluid " style="width:80%;height:auto;" alt="New Born">

                            </div>
                            <div class="row p-4">

                                <div class="fw-bold display-5">30</div>
                                <hr>
                                <div class="fs-5">1891 Population</div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="container">
                            <div class="row p-4">
                                <div class="fw-bold display-5">8,515</div>
                                <hr>
                                <div class="fs-5">2016 Population</div>
                            </div>
                            <div class="row">
                                <img src="@Url.Content("~/Content/Customer/images/study-case-single/main/jp/1.jpeg")" class="img-fluid " style="width:80%;height:auto;" alt="1861">


                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



<section class="timeline" id="japan-timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="site-timeline-content">
                    <!-- Article -->
                    <div class="de-timeline-article odd">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/Japan/late1800s.jpg")" alt="The Last of us">
                        </div>
                        <div class="content-right-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">Late 1800s</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4">
                                    <div class="de-timeline-title fw-bold">Beginnings of Migration</div>
                                    <p class="fs-6">Japanese began to emigrate to Australia, working in pearling in northern Australia and other industries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                    <!-- Article -->
                    <div class="de-timeline-article even">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">1901</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4">
                                    <div class="de-timeline-title fw-bold">Immigration Restriction Act</div>
                                    <p class="fs-6">Passage of the act restricted non-European immigrants, including Japanese; however, some were exempted from the dictation test by 1904.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-right-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/Japan/1901 act.png")" alt="The Last of us">
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                    <!-- Article -->
                    <div class="de-timeline-article odd">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/Japan/1944.jpg")" alt="The Last of us">
                        </div>
                        <div class="content-right-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">1941-1947</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4">
                                    <div class="de-timeline-title fw-bold">WW II and Internment</div>
                                    <p class="fs-6">During the war against Japan, the Japanese population in Victoria was interned and mostly deported afterward.</p>
                                </div>
                            </div>
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                    <!-- Article -->
                    <div class="de-timeline-article even">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">1973-2016</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4">
                                    <div class="de-timeline-title fw-bold">Growth and Cultural Integration</div>
                                    <p class="fs-6">After the end of the White Australia policy, the Japan-born population in Victoria grew, culminating in a community of 8,515 by 2016.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-right-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/Japan/Japanese.png")" alt="The Last of us">
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                </div>
            </div>
        </div>
    </div>
</section>
