@model string

    <section class="bg-light m-5 p-5 text-dark">
        <div class="container">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container">
                                <div class="row">
                                    <img src="@Url.Content("~/Content/Customer/images/study-case-single/main/ko/1.jpeg")" class="img-fluid " style="width:80%;height:auto;" alt="New Born">
                                </div>
                                <div class="row p-4">
                                    <div class="fw-bold display-5"><span class="timer" data-to="160652" data-speed="3000">14,798</span>+</div>
                                    <hr>
                                    <div class="fs-5">Victorians<br>born in South Korea</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="container">
                                <div class="row p-4">
        
                                    <div class="fw-bold display-5"><span class="timer" data-to="7" data-speed="3000">60</span>%</div>
                                    <hr>
                                    <div class="fs-5">Christian<br>faith among Koreans</div>
                                </div>
                                <div class="row">
                                    <img src="@Url.Content("~/Content/Customer/images/study-case-single/main/ko/2.jpeg")" class="img-fluid " style="width:80%;height:auto;" alt="1861">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="display-3 fw-bold pt-2"><div class="text-primary">Korea</div> Community in Victoria</div>
                    <p class="fs-5">From humble beginnings in the late 1960s, the Korean community in Victoria has flourished into a vibrant and integral part of the state's multicultural tapestry. Initially, few Koreans settled in Victoria, but by 1971, there were already 72 individuals establishing their lives here, many migrating from third countries. Despite the challenges posed by the White Australia Policy, the Korean community saw steady growth, particularly after the policy's end, leading to a significant increase in numbers and contributions to various sectors in Victoria. Today, the community is celebrated for its cultural contributions, professional achievements, and the popular annual Korean festival that attracts thousands, enriching Victoria's cultural diversity.</p>
                </div>
            </div>
        </div>
    </section>









    <section class="timeline" id="korea-timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="site-timeline-content">
                        <!-- Article -->
                        <div class="de-timeline-article odd">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/Korean/1960.jpg")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">Late 1960s</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">Foundations of Korean Presence in Victoria</h3>
                                    <p>Initial Korean migrants arrived in Victoria, marking the beginning of the community.</p>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article even">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1971</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">Establishment Amidst Global Movements</h3>
                                    <p>The Korean community numbered 72, comprised of individuals from diverse backgrounds and countries.</p>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/Korean/1962.jpg")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article odd">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/Korean/1979.jpg")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1975</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">A New Wave from Vietnam</h3>
                                    <p>Following the fall of South Vietnam, Koreans working in military contracts migrated to Australia, enriching the community</p>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article even">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1981-1991</h4>

                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">A Decade of Growth and Recognition</h3>
                                    <p>The population grew from 389 in 1981 to 1,544 in 1991, marking significant community establishment in Victoria.</p>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/Korean/1981.jpg")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article odd">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/Korean/2016.jpg")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">2017</h4>
                                </div>

                                <div class="content-right">
                                    <h3 class="de-timeline-title">Contemporary Vibrance</h3>
                                    <p>With 14,798 Koreans calling Victoria home, the community is now a vibrant part of the state's multicultural landscape, contributing professionally and culturally.</p>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                    </div>
                </div>
            </div>
        </div>
    </section>


