@model string

<section class="bg-light m-5 p-5 text-dark story">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row">
                                <img src="@Url.Content("~/Content/Customer/images/study-case-single/main/vit/1.jpeg")" class="img-fluid " style="width:80%;height:auto;" alt="New Born">
                            </div>
                            <div class="row p-4">
                                <div class="fw-bold display-5">68000</div>
                                <hr>
                                <div class="fs-5">Vietnam-born<br>Victorians</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container">
                            <div class="row p-4">

                                <div class="fw-bold display-5"><span class="timer" data-to="7" data-speed="3000">25</span>%</div>
                                <hr>
                                <div class="fs-5">White collar professionals <br>in<br>the Community</div>
                            </div>
                            <div class="row">
                                <img src="@Url.Content("~/Content/Customer/images/study-case-single/main/vit/2.jpeg")" class="img-fluid " style="width:80%;height:auto;" alt="1861">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="display-3 fw-bold pt-2"><div class="text-success">Vietnamese</div> Community in Victoria</div>
                <p class="fs-5">The journey of the Vietnamese community in Victoria from the aftermath of the Vietnam War to its current status is a remarkable story of resilience, growth, and contribution. Initially, the community comprised a small number of war orphans, wives of Australian servicemen, and students. However, the end of the Vietnam War and subsequent political changes led to a significant influx of refugees seeking a new life in Victoria. Through resettlement camps and humanitarian efforts, many found a new home in Australia. The community's growth was bolstered by an orderly migration program focused on family reunification, leading to a vibrant and dynamic Vietnamese presence in Victoria. Today, the community not only contributes significantly to the state's multicultural fabric through its strong community networks and cultural festivities but also through entrepreneurial ventures that have revitalized local economies and transformed urban landscapes.</p>
            </div>
        </div>
    </div>
</section>

<section class="timeline" id="vietnam-timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="site-timeline-content">
                    <!-- Article -->
                    <div class="de-timeline-article odd">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/vietna/1975.webp")" alt="The Last of us">
                        </div>
                        <div class="content-right-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">Pre-1975</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4 shadow p-2 bg-body rounded-3 p-3">
                                    <div class="de-timeline-title fw-bold">War and Early Migration</div>
                                    <hr>

                                    <p class="fs-6">The initial Vietnamese presence in Victoria, marked by war orphans, Vietnamese wives of Australian servicemen, and students.</p>
                                </div>
                            </div>
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                    <!-- Article -->
                    <div class="de-timeline-article even">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">1976</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4 shadow p-2 bg-body rounded-3 p-3">
                                    <div class="de-timeline-title fw-bold">First Census Count</div>
                                    <hr>

                                    <p class="fs-6">Vietnamese-born Victorians officially counted, numbering 382.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-right-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/vietna/1976.jpg")" alt="The Last of us">
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                    <!-- Article -->
                    <div class="de-timeline-article odd">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/vietna/post1975.jpg")" alt="The Last of us">
                        </div>
                        <div class="content-right-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">Post-1975</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4 shadow p-2 bg-body rounded-3 p-3">
                                    <div class="de-timeline-title fw-bold">Significant Refugee Arrivals</div>
                                    <hr>

                                    <p class="fs-6">Significant refugee arrivals following the end of the Vietnam War, with many fleeing political changes and hardship.</p>
                                </div>
                            </div>
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                    <!-- Article -->
                    <div class="de-timeline-article even">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">1981</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4 shadow p-2 bg-body rounded-3 p-3">
                                    <div class="de-timeline-title fw-bold">Rapid Growth</div>
                                    <hr>

                                    <p class="fs-6">The Vietnamese-born population in Victoria exceeds 12,000, with many finding employment in trade and production.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-right-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/vietna/after1975.jpg")" alt="The Last of us">
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                    <!-- Article -->
                    <div class="de-timeline-article odd">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/vietna/community.jpg")" alt="The Last of us">
                        </div>
                        <div class="content-right-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">1982</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4 shadow p-2 bg-body rounded-3 p-3">
                                    <div class="de-timeline-title fw-bold">Family Reunion Focus</div>
                                    <hr>

                                    <p class="fs-6">Australia and Vietnam establish an orderly migration program, leading to further community growth.</p>
                                </div>
                            </div>
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                    <!-- Article -->
                    <div class="de-timeline-article even">
                        <div class="site-center-line"></div>
                        <div class="content-left-container">
                            <div class="year__">
                                <div class="d-line"></div>
                                <h4 class="de-timeline-year">1982-Now</h4>
                            </div>
                            <div class="content-right">
                                <div class="mt-5 fs-4 shadow p-2 bg-body rounded-3 p-3">
                                    <div class="de-timeline-title fw-bold">Contemporary Achievements</div>
                                    <hr>
                                    <p class="fs-6">Today, over 68,000 Vietnam-born individuals contribute to Victorian society through diverse professions, businesses, and cultural activities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-right-container">
                            <img class="timeline-image mt-5" src="@Url.Content("~/Content/Customer/images/timeline/vietna/after1981.jpg")" alt="The Last of us">
                        </div>
                        <div class="meta-dot">
                        </div>
                    </div>
                    <!-- // Article -->
                </div>
            </div>
        </div>
    </div>
</section>
