@model string
<div class="no-bottom no-top" id="content" style="background-size: cover; background-repeat: no-repeat;">
    <div id="top" style="background-size: cover; background-repeat: no-repeat;"></div>

    <section class="bg-grey text-dark" style="background-size: cover; background-repeat: no-repeat;">
        <div class="container" style="background-size: cover; background-repeat: no-repeat;">

            <div class="row gx-5 align-items-center" style="background-size: cover; background-repeat: no-repeat;">
                <div class="col-lg-6" style="background-size: cover; background-repeat: no-repeat;">
                    <div class="row" style="background-size: cover; background-repeat: no-repeat;">
                        <div class="col-6" style="background-size: cover; background-repeat: no-repeat;">
                            <img src="@Url.Content("~/Content/Customer/images/study-case-single/2.webp")" class="img-fluid rounded-10 wow zoomIn animated" alt="" style="visibility: visible; animation-name: zoomIn;">

                            <div class="spacer-single" style="background-size: cover; background-repeat: no-repeat;"></div>
                            <div class="col-6 offset-3" style="background-size: cover; background-repeat: no-repeat;">
                                <div class="de_count wow fadeInUp animated" style="background-size: cover; background-repeat: no-repeat; visibility: visible; animation-name: fadeInUp;">
                                    <h3><span class="timer" data-to="68000" data-speed="3000">68000</span></h3>
                                    <h4>Vietnam-born<br>Victorians</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" style="background-size: cover; background-repeat: no-repeat;">
                            <div class="spacer-double" style="background-size: cover; background-repeat: no-repeat;"></div>
                            <div class="col-6" style="background-size: cover; background-repeat: no-repeat;">
                                <div class="de_count wow fadeInUp animated" style="background-size: cover; background-repeat: no-repeat; visibility: visible; animation-name: fadeInUp;">
                                    <h3><span class="timer" data-to="25" data-speed="3000">25</span>%</h3>
                                    <h4>White collar professionals <br>in<br>the Community</h4>
                                </div>
                            </div>
                            <div class="spacer-10" style="background-size: cover; background-repeat: no-repeat;"></div>
                            <img src="@Url.Content("~/Content/Customer/images/study-case-single/3.webp")" class="img-fluid rounded-10 wow zoomIn animated" alt="" style="visibility: visible; animation-name: zoomIn;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="background-size: cover; background-repeat: no-repeat;">
                    <h1><strong class="text-success">Vietnamese </strong>Community in Victoria </h1>

                    <p>The journey of the Vietnamese community in Victoria from the aftermath of the Vietnam War to its current status is a remarkable story of resilience, growth, and contribution. Initially, the community comprised a small number of war orphans, wives of Australian servicemen, and students. However, the end of the Vietnam War and subsequent political changes led to a significant influx of refugees seeking a new life in Victoria. Through resettlement camps and humanitarian efforts, many found a new home in Australia. The community's growth was bolstered by an orderly migration program focused on family reunification, leading to a vibrant and dynamic Vietnamese presence in Victoria. Today, the community not only contributes significantly to the state's multicultural fabric through its strong community networks and cultural festivities but also through entrepreneurial ventures that have revitalized local economies and transformed urban landscapes.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="site-timeline-content">
                        <!-- Article -->
                        <div class="de-timeline-article odd">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/1.webp")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">Pre-1975</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">War and Early Migration</h3>
                                    <p>The initial Vietnamese presence in Victoria, marked by war orphans, Vietnamese wives of Australian servicemen, and students.</p>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article even">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1976</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">First Census Count</h3>
                                    <p>Vietnamese-born Victorians officially counted, numbering 382.</p>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/4.webp")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article odd">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/7.webp")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">Post-1975</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title"></h3>
                                    <p>Significant refugee arrivals following the end of the Vietnam War, with many fleeing political changes and hardship.</p>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article even">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1981</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">Rapid Growth</h3>
                                    <p>The Vietnamese-born population in Victoria exceeds 12,000, with many finding employment in trade and production.</p>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/4.webp")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article odd">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/7.webp")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1982</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">Family Reunion Focus</h3>
                                    <p>Australia and Vietnam establish an orderly migration program, leading to further community growth.</p>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                        <!-- Article -->
                        <div class="de-timeline-article even">
                            <div class="site-center-line"></div>
                            <div class="content-left-container">
                                <div class="year__">
                                    <div class="d-line"></div>
                                    <h4 class="de-timeline-year">1982-Now</h4>
                                </div>
                                <div class="content-right">
                                    <h3 class="de-timeline-title">Contemporary Achievements</h3>
                                    <p>Today, over 68,000 Vietnam-born individuals contribute to Victorian society through diverse professions, businesses, and cultural activities.</p>
                                </div>
                            </div>
                            <div class="content-right-container">
                                <div class="owl-single-dots owl-carousel owl-theme">
                                    <div class="item"><img src="@Url.Content("~/Content/Customer/images/timeline/4.webp")" alt="The Last of us"></div>
                                </div>
                            </div>
                            <div class="meta-dot">
                            </div>
                        </div>
                        <!-- // Article -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
